:root {
    --color-brand-direct: #F69333;
    --color-brand-muted: #F8B97B;

    --color-white: white;
    --color-almost-white-blue: #EFFBFF;
    --color-almost-white-yellow: #F1F1E6;
    


    --color-gray-dark: #1F2526;
    --color-gray-light: #C4C4C4;

    --color-darkest: #152C34;
--color-black: #212529;
}

