

.btn-form-submit-ig {
    border-radius: 5px;
    color: var(--color-brand-direct);
    font-size: 2.3rem;
    font-weight: 600;
    border: none;

    @media only screen and (max-width: 1200px) {
        font-size: 2.1rem;
    }
 
        background: linear-gradient(90deg, #EFFBFF 4.22%, rgba(229, 229, 229, 0.55) 100%);
        width: 6em;
        height: initial;
        color: var(--color-brand-direct);
    
}

.btn-primary-ig {
    background: black;
    height: 3.4em;
    margin: 1em;
    border-radius: 5px;
    color: var(--color-brand-direct);
    font-size: 2.3rem;
    font-weight: 600;
    @media only screen and (max-width: 1200px) {
        font-size: 2.1rem;
    }
    &--long {
        background: linear-gradient(90deg, #EFFBFF 4.22%, rgba(229, 229, 229, 0.55) 100%);
border-radius: 5px;
        width: 6em;
        height: initial;
        color: var(--color-darkest);

         &--left-aligned {
            align-self: flex-start;
            margin-left: 5rem;
         }
    }
    &--small {
        margin: 0;
    }

    &--min-height {
        height: auto;
    }
}


.btn-important-ig {
    background: black;
        height: auto;
    border-radius: 5px;
    font-size: 2.1rem;
    font-weight: 600;
        &:hover {
            color: var(--color-brand-direct);
        }
    @media only screen and (max-width: 1200px) {
        font-size: 2.1rem;
    }
    

 
}


.btn-no-border {
    color: var(--color-darkest);
    font-size: 1.9rem;
    border: none;
    background: transparent;
    transition: all .2s;

    font-weight: 400;
    &:hover {
        transform: scale(1.04);
        color: var(--color-brand-direct);
    }
@media only screen and (max-width: 1200px) {
    font-size: 2.1rem;
}
}