.concert-card {
  background-color: var(--color-white);
  @include box-shadow-md();
  min-height: 6rem;
  border-radius: 3px;
  display: flex;
  &__long {
  }
}

.concert-card__long {
  width: 100%;
  margin-left: 10em;
  z-index: 2;
  padding: 2rem;
  @media only screen and (max-width: $bp-sm) {
    width: 80%;
    margin-left: 5em;
    margin-right: 10em;
  }
}

.concert-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media only screen and (max-width: $bp-md) {
    flex-direction: row;
  }
  &  h4 {
    font-family: var(--secondary-font);
    font-size: 3rem;
    font-weight: 500;
  
    @media only screen and (max-width: 1200px) {
      font-size: 2.6rem;
    }
    @media only screen and (max-width: $bp-md) {
      padding-right: 0.2em;
    }

  }

  & h5 {
    font-size: 2.3rem;
    @media only screen and (max-width: 1200px) {
      font-size: 2.2rem;
    }
  }

  &--text-small {
    &  h4 {
      font-size: 2.2rem;
    
      @media only screen and (max-width: 1200px) {
        font-size: 2rem;
      }
      @media only screen and (max-width: $bp-md) {
        padding-right: 0.2em;
      }
  
    }
  
    & h5 {
      font-size: 2rem;
      @media only screen and (max-width: 1200px) {
        font-size: 1.9rem;
      }
    }
  }
  
}

.concert-program {
    font-size: 2.2rem;
    font-weight: 400;
    @media only screen and (max-width: 1200px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: $bp-md) {
        margin-top: .5em;
        margin-bottom: .5em;
    }
}

.concert-time h3{
    font-family: var(--secondary-font);
font-size:  3rem;
font-weight: 500;
@media only screen and (max-width: 1200px) {
font-size: 2.7rem;
}
}
.concert-venue {
    font-size: 2.2rem;
    opacity: .8;
    font-weight: 400;
    @media only screen and (max-width: 1200px) {
        font-size: 2.2rem;
    }
}

.concert-card--narrow {
transform: scale(.8);
}
