
.main-sidebar-container {
    position: relative;
      &--padding-right-10 {
          padding-right: 10rem;
          @media only screen and (max-width: $bp-lg)    {
              padding-right: 4rem;
                  }
  
                  @media only screen and (max-width: $bp-md)    {
                      padding-left: 2rem;
                      padding-right: 2rem;
                          }
      }
    }
  
    .main-sidebar-content {
        background-color: var(--color-brand-muted);
        position: sticky;
        padding: 5rem;
        top: 0;
        min-height: 60vh;
        margin-bottom: 5rem;;
        @media only screen and (max-width: $bp-md)    {
          min-height: 10vh;
        padding: 2rem;

              }
    }
  
  
    .sidebar-concert {
  
      &__card-container {
          width: 100%;
          background-color: white;
          display: flex;
          flex-direction: row;
          margin-bottom: 3rem;
          min-height: 7rem;

          &--col {
            flex-direction: column;
          }
  
      }
  
  
  
        &__date {
          min-width: 8.5rem;
          background-color: var(--color-darkest);
          color: var(--color-almost-white-blue);  
          display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
  
        }
  
        &__title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
         margin: 0 3rem;
        }
    }
  
  .sidebar-links:hover {
    transition: all 0.3s ease-in-out;
     display: block;
     transform: scale(1.03);
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }