// breakpoints

$bp-sm: 576px;
$bp-md: 767px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

html {
  min-width: 300px;
}
body {
  transition: all .2s;
}
.container-fluid {
  overflow: visible;
  padding-right: 0 !important;
  padding-left: 0 !important;
  
}

@media only screen and (max-width: 1460px) {
  html {
    font-size: 55.5%;
  }
}
@media only screen and (max-width: 1300px) {
  html {
    font-size: 50.5%;
  }
}
@media only screen and (max-width: 1150px) {
  html {
    font-size: 45.5%;
  }
}

@media only screen and (max-width: $bp-md) {
  html {
    background-attachment: scroll;
  }
}

