.gallery-page {
    padding: 5rem 2rem 5rem 2rem;
}

.page-gallery-main div .section-header {
    padding-top: 12rem;
    text-align: center;
}
.gallery-sedebar-container {
    margin-top: 5rem;
    padding: 0 2rem;
}

.gallery-cancel-minheight {
    min-height: auto !important;
}

.page-gallery-main-content-container {
    padding-left: 2rem;
        @media only screen and (max-width: $bp-md) {
           padding-left: 0;
        }
}