.artist-post {
  min-height: 100vh;
  height: 100%;
  padding-right: 5rem;
  @media only screen and (max-width: $bp-md) {
    padding: 3rem;
  }
}

.artist .artist-photo {
  margin-top: 140px;

  text-align: center;
  padding: 0 5rem 0 5rem;

  @media only screen and (max-width: $bp-md) {
    padding: 0;
    margin-top: 12rem;
    position: relative;
  }

  & img {
    display: inline-block;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
}

.single-artist-concerts-sticky-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
}

.artist .artist-bio {
  margin-top: 110px;
  // margin-left: 10rem;
  padding: 5rem;
  background-color: var(--color-brand-muted);

  text-align: justify;
  line-height: 3.4rem;
  @media only screen and (max-width: $bp-md) {
    margin-right: 0;
    margin-top: 4rem;
    padding: 2rem;
  }
}

section.artist .artist-bio .artist-name-title {
  text-align: center;

  font-size: 2.8rem;
  line-height: 3.2rem;
  & span.instrument {
    font-size: 2rem;
  }
  &--desctop {
    @media only screen and (max-width: $bp-md) {
      display: none;
    }
  }

}

.artist-name-title--mobile {
  display: none;
  @media only screen and (max-width: $bp-md) {
    display: block;
  }
}

.concert-date-box {
  display: inline-block;
  padding: 1.6em;
  background-color: var(--color-brand-direct);
  border-radius: 5px;
}

.artists-concert-in-artist-page--desctop {
  margin-bottom: 2rem;
  @media only screen and (max-width: $bp-md) {
    // display: none;
  }
}
.artists-concert-in-artist-page--mobile {
  display: none;
  @media only screen and (max-width: $bp-md) {
    display: block;
  }
}



.artist-image {
  max-height: 60vh;
}

.all-single-artist-wrapper-row {
  padding-bottom: 2rem;
}