.hero {
  min-height: -webkit-fill-available;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  @media only screen and (max-width: 1065px) {
    background-position: 77%;
  }
  @media only screen and (max-width: $bp-md) {
    background-attachment: scroll;
  }
}

.fest-date {
  margin: 0.5em 2em;
  padding: 0.5em 1em;
  background-color: var(--color-brand-muted);
  border-radius: 3px;
  color: white;
  @media only screen and (max-width: 840px) {
    margin-bottom: 10%;
  }
  @media only screen and (max-width: $bp-sm) {
    margin-right: 20%;
  }
}
